.image-container{
    margin-top: min(200px,30%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-child-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: min(500px,50vw);
    height: min(300px,50vw);
    border-radius: 10px;
    object-fit: contain;
}
.bounding-box{
    position: absolute;
    box-shadow: 0px 0px 0px 3px blue inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}